{% extends 'layout.html' %}
{% block content %}
<h5>Editing the <span class="bold">{{category.category_name}}</span> category :</h5>
<div class="row">
    <form action="{{url_for('categories.edit_category',id=category.id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Category name" id="category_name" type="text" class="validate" name="category_name"
                    value="{{category.category_name}}" required>
                <label for="category_name" class="bigger-text black-text">Category name :</label>
            </div>
            <div>
                <img src="{{category.image_url}}" alt="Category image" class="edit_delete_img">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Image url" id="image_url" type="text" class="validate" name="image_url"
                        value="{{category.image_url}}" required>
                    <label for="image_url" class="bigger-text black-text">Image url :</label>
                </div>
            </div>
            <div>
                <button type="submit" class="waves-effect waves-light btn-small">Accept</button>
                <a href="{{url_for('categories.manage_categories')}}" class="waves-effect waves-light btn-small">No ,
                    back to
                    categories</a>
                <a href="{{url_for('main_page')}}" class="waves-effect waves-light btn-small right">Back to Main</a>
            </div>
        </div>
        <div class="centerize bigger-text">Staff member</div>
        <p class="bold">1. Please remember to edit categories with care and good quality pictures as it affects the
            restaurant's
            sales.</p>
        <p class="bold">2. Please spell check the names of the categories before the editing.</p>
    </form>
</div>
{% endblock %}