{% extends 'layout.html' %}
{% block content %}
<br>
<div dir="rtl">
    <div class="center">
        <a href="{{url_for ('deliveries.manage_deliveries')}}"
            class="waves-effect waves-light grey darken-1 btn-small">All
            Deliveries</a>
        <a href="{{url_for ('main_page') }}" class="waves-effect waves-light grey darken-1 btn-small right">Back to main
            page</a>
        <a href="{{url_for ('categories.manage_categories')}}"
            class="waves-effect waves-light grey darken-1 btn-small left">All
            Categories</a>
    </div>
</div>

{% with success = get_flashed_messages(category_filter=['success']) %}
{% if success %}
{% for message in success%}
<script classes="toast-container">
    M.toast({ html: '{{message}}', displayLength: 3000, classes: 'rounded green success-toast-margin-right' })
</script>
{% endfor %}
{% endif %}
{% endwith %}
<div class="center">
    <h4>Welcome staff member</h4>
    <h5>In this page you can : see , edit , create and delete dishes</h5>
    <a href="{{url_for ('dishes.create_dish')}}" class="waves-effect waves-light btn-small green">Add a new dish</a>
</div>
<div class="center"> </div>
<ul class="collection">
    {% for dish in dishes %}
    <li class="collection-item avatar">
        <img src="{{dish.imageURL}}" alt="dish image" class="circle">
        <span class="title bold">{{dish.dish_name|title}}</span>
        <p>
            <span class="bold">Price </span> : {{dish.price}} ₪ <br>
            <span class="bold">Description </span>: {{dish.description}} <br>
        </p>
        <br>
        <a href="{{url_for ('dishes.delete_dish',id=dish.id)}}" class="btn-small red darken-2" name="dish_id"
            value="{{dish.id}}">
            Delete dish
            <i class="material-icons left icons_staff">
                <img src="{{url_for('static',filename='images/delete_Icon.png')}}" alt="Delete dish"
                    class="dish-icons cart-icon">
            </i>
        </a>
        <a href="{{url_for ('dishes.edit_dish',id=dish.id)}}" class="btn-small orange darken-2" name="dish_id"
            value="{{dish.id}}">
            edit dish
            <i class="material-icons left icons_staff">
                <img src="{{url_for('static',filename='images/edit_icon.png')}}" alt="Edit dish"
                    class="dish-icons cart-icon">
            </i>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}