{% extends 'layout.html' %}
{% block content %}
<div class="centerize">
    <br>
    <div>
        <h4 class="bold">Welcome to quick deliveries</h4>
        <h5 class="bold">Please choose one of the following options : </h5>
        <br>
        <div>
            <a href="{{url_for('new_signup')}}" class="waves-effect waves-light btn-small">Signup</a>
        </div>
        <br>
        <div>
            <a href="{{url_for('login')}}" class="waves-effect waves-light btn-small">Login</a>
        </div>
    </div>
    <br>
</div>
{% endblock %}