{% extends 'layout.html' %}
{% block content %}

{% with error = get_flashed_messages(category_filter=['error']) %}
{% if error %}
{% for message in error %}
<script>
    M.toast({ html: '{{message}}', displayLength: 3000, classes: 'rounded red margin-right' })
</script>
{% endfor %}
{% endif %}
{% endwith %}

<div class="centerize">
    <h3 class="bold">Welcome to the sign up page</h3>
</div>
<br>
<h6>Please fill the following details to sign up to the website : </h6>
<div class="row">
    <form class="col s7" action="{{url_for('new_signup')}}" method="POST" novalidate>
        {{form.csrf_token}}
        <div class="row">
            <div class="input-field col s12">
                {{form.username(placeholder="Username",id="username")}}
                <label for="username" class="bold">Username :</label>
                {% for error in form.username.errors %}
                <div>
                    <span class="red-text">{{error}}</span>
                </div>
                {% endfor %}
            </div>

            <div class="input-field col s12">
                {{form.password(placeholder="Password",id="password")}}
                <label for="password" class="bold">Password :</label>
                {% for error in form.password.errors %}
                <div>
                    <span class="red-text">{{error}}</span>
                </div>
                {% endfor %}
            </div>

            <div class="input-field col s12">
                {{form.confirm_password(placeholder="Confirm Password",id="confirm_password")}}
                <label for="confirm_password" class="bold">Confirm Password :</label>
                {% for error in form.confirm_password.errors %}
                <div>
                    <span class="red-text">{{error}}</span>
                </div>
                {% endfor %}
            </div>

            <div class="input-field col s6">
                {{form.first_name(placeholder="First Name",id="first_name")}}
                <label for="first_name" class="bold">First Name :</label>
                {% for error in form.first_name.errors %}
                <div>
                    <span class="red-text">{{error}}</span>
                </div>
                {% endfor %}
            </div>

            <div class="input-field col s6">
                {{form.last_name(placeholder="Last Name",id="last_name")}}
                <label for="last_name" class="bold">Last Name :</label>
                {% for error in form.last_name.errors %}
                <div>
                    <span class="red-text">{{error}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                Please fill your Email here:
                <div class="input-field inline">
                    {{form.email(placeholder="Email",id="email_inline")}}
                    <label for="email_inline">Email :</label>
                    {% for error in form.email.errors %}
                    <div>
                        <span class="red-text">{{error}}</span>
                    </div>
                    {% endfor %}
                    <span class="helper-text">Indicator</span>
                </div>
                <div class="grey-text text-darken-1">We'll never share your details with anyone.</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light">Signup</button>
                <a href="{{url_for('main_page')}}" class="btn waves-effect waves-light blue">Back to main page</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}