{% extends 'layout.html' %}
{% block content %}

{% with success = get_flashed_messages(category_filter=['success']) %}
{% if success %}
{% for message in success%}
<script classes="toast-container">
    M.toast({ html: '{{message}}', displayLength: 3000, classes: 'rounded green success-toast-margin-right' })
</script>
{% endfor %}
{% endif %}
{% endwith %}

{% with error = get_flashed_messages(category_filter=['error']) %}
{% if error %}
{% for message in error %}
<script>
    M.toast({ html: '{{message}}', displayLength: 3000, classes: 'rounded red margin-right' })
</script>
{% endfor %}
{% endif %}
{% endwith %}

<div class="centerize">
    <h3 class="bold">Welcome to the Login page </h3>
</div>
<br>
<h6 class="bold">Please fill the following details to log into the website : </h6>
<br>
<div class="row">
    <form class="col s12" action="{{url_for('users.login')}}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Username" id="user_name" type="text" name="username">
                <label for="user_name" class="bigger-text black-text">Username :</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Password" id="password" type="password" name="password">
                <label for="password" class="bigger-text black-text">Password :</label>
                <div class="grey-text text-darken-1 bold">We'll never share your details with anyone.</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" name="remember_me" class="filled-in" />
                    <span class="black-text bold">Remember me</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light">Login</button>
                <a href="{{url_for('main_page')}}" class="btn waves-effect waves-light blue">Back to main page</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}