{% extends 'layout.html' %}
{% block content %}

<br>
<div dir="rtl">
    <a href="{{url_for ('dishes.all_dishes') }}" class="waves-effect waves-light btn-small">All Dishes</a>
</div>

{% with success = get_flashed_messages(category_filter=['success']) %}
{% if success %}
{% for message in success%}
<script classes="toast-container">
    M.toast({ html: '{{message}}', displayLength: 3000, classes: 'rounded green success-toast-margin-right' })
</script>
{% endfor %}
{% endif %}
{% endwith %}

{% with error = get_flashed_messages(category_filter=['error']) %}
{% if error %}
{% for message in error %}
<script>
    M.toast({ html: '{{message}}', displayLength: 3000, classes: 'rounded red margin-right' })
</script>
{% endfor %}
{% endif %}
{% endwith %}

<div class="centerize">
    <h3>Welcome to your user page {{current_user.username}}!</h3>
    <h5>Here you can see details about your account and last order </h5>
</div>
<div class="row centerize">
    <div class="col s12 offset-m2 m8">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="bold">
                    <br>
                    <div class="bigger-text">Your first name :</div>
                    <p class="bit-of-padding">{{current_user.first_name|title}}</p>
                    <div class="bigger-text">Your Last name :</div>
                    <p class="bit-of-padding">{{current_user.last_name|title}}</p>
                    <div class="bigger-text">Your Username :</div>
                    <p class="bit-of-padding">{{current_user.username}}</p>
                    <div class="bigger-text">Your email :</div>
                    <p class="bit-of-padding">{{current_user.email}}</p>
                    <div class="bigger-text">Last order's status :</div>
                    {% if cart.delivery %}
                    {% if cart.delivery.is_delivered[-1] %}
                    <p style="color:lightgreen">Delivered</p>
                    {% else %}
                    <p style="color:orange">In preparation</p>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
            <div>
                <a href="{{url_for ('users.edit_user_details')}}" class="waves-effect waves-light btn-small">Edit
                    details</a>
                <a href="{{url_for ('users.order_history')}}" class="waves-effect waves-light btn-small">Delivery
                    history</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}